@media all {

	body {
		background-color: #f4f4f4;
		color: #333;
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
	}

	.header-banner {
		background-color: #007bff;
		color: white;
		padding: 20px;
		text-align: center;
	}

	.header-banner h1 {
		font-family: Georgia, serif;
		margin: 0;
	}

	.navbar {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #333;
		position: relative;
		top: 0em;
		left: 0em;
		width: 100%;
	}

	.navbar li {
		float: left;
	}

	.navbar li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	.navbar li a:hover, .dropdown:hover {
		background-color: #111;
	}

	.dropdown {
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #333;
		min-width: 160px;
		z-index: 1;
	}

	.dropdown-content a {
		color: white;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: left;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}

	.main-content {
		padding: 20px;
	}

}


@media print {

	.navbar, .header-banner {
		display: none;
	}

	body {
		background-color: white;
		color: black;
	}
}
